{
  "mqtt": {
    "broker": "211.188.58.158:1883",
    "topic": "iot/data",
    "client_id": "client1",
    "username": "",
    "password": ""
  },
  "producer": {
    "publish_interval_seconds": 1
  }
}